edit Witness
<%= form_for @witness, :url => { :controller => 'witness', :action => 'update' } do |f| %>
    <div class="form-group">
      <%= f.label :title, "title" ,:for=>"witness_title" %>
      <%= f.text_field :title ,:class=>"form-control" ,:id=>"witness_title" %>
    </div>
    <div class="form-group">
      <%= f.label :content, "content", :for=>"witness_content" %>
      <%= f.text_area :content ,:class=>"form-control" ,:id=>"witness_content" %>
    </div>

    <%= f.submit "Update", :class=>"btn btn-default" %>
<% end %>