<h3><i class="fa fa-plus-circle"></i>見証分享</h3>
<% if @is_admin %>
<%= link_to '+新的見証', new_witness_path %>
<% end %>
<hr/>
<div class="row">
  <% @witnesses.each do |witness| %>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="<%=witness_path(witness)%>">
          <b><%= witness.title %></b>
        </a>
        <% if @is_admin %>
        <%= link_to '修改', edit_witness_path(witness), :class => "btn btn-sm btn-warning" %>
        <%= link_to '刪除', witness_path(witness), :class => "btn btn-sm btn-danger", :method => :delete, :data => { :confirm => "確定刪除?" } %>
        <% end %>
        <b><%=witness.created_at.strftime("%Y-%m-%d")%></b>
        <a href="<%=witness_path(witness)%>">

          <img src="<%= witness.photo %>" class="thumbnail img-responsive">
       </a>
      </div>
  <% end %>
</div>
