<% content_for(:footer_includes) do %>
  <%= javascript_include_tag 'common/upload' %>
<% end %>

<iframe id="iframeUpload" style="display: none;" ></iframe>
<%= form_for @witness, :url => { :controller => 'witness', :action => 'create' } do |f| %>
    <div class="form-group">
        <%= f.label :title, "title" ,:for=>"witness_title" %>
        <%= f.text_field :title ,:class=>"form-control" ,:id=>"witness_title" %>
    </div>
    <div class="form-group">
      <%= f.text_field :photo , :name=>"photo",:id=>"witness_photo"  %>
      <input type="button" value="上傳" id="uploadImg" />
      <img id="preview" src="" alt="" style="display:none;width:240px;height: auto;"/>
    </div>
    <div class="form-group">
        <%= f.label :content, "content", :for=>"witness_content" %>
        <%= f.text_area :content ,:class=>"form-control" ,:id=>"witness_content" %>
    </div>

    <%= f.submit "Create", :class=>"btn btn-default" %>
<% end %>